<p> The AIAA 30k team includes 18 Oregon State University senior capstone students studying fields including mechanical and electrical engineering, and computer science.<br>
    Our goal for the Spaceport America Cup is to learn and experience working together as a team to build and launch a rocket to 30,000 feet.
</p>

<img src="GroupPhoto.jpg" alt="Team Photo">

<h2> Contact Us </h2>
<p>
Aero and Recovery: stumbos@oregonstate.edu<br>
Payload: 		gahank@oregonstate.edu<br>
Avionics - EE: vernakef@oregonstate.edu<br>
Avionics - CS: willmetl@oregonstate.edu<br>
Propulsion: 	fujimtra@oregonstate.edu<br>
Structures: 	fraleye@oregonstate.edu<br>
</p>

<p> For more information about the competition, visit https://www.spaceportamericacup.com/ </p>
