<script src="/canvasjs.min.js"></script>
<script src="jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
    var dps1 = [];
    var dps2 = [];
    var pause = true;
    var counter = 0;
    var lasttime = "";
    $.getJSON("/q?get=altVtime&f_id={{fid}}", function(data){
            $.each(data, function(key, value) {
//                  console.log(value['Source']);
                    if(value['Source'] == "Beeline1"){
                        dps1.push({x : new Date(value['time']), y : value['alt']});
                    }
                    if(value['Source'] == "Beeline2"){
                        dps2.push({x : new Date(value['time']), y : value['alt']});
                    }
                    lasttime = value['time'];
                    // console.log("values are" + JSON.stringify(key[0]) + "," + key[1] + "," + key[2]);
                });
                pause = false;
        });

        var chart = new CanvasJS.Chart("chartContainer",
        {

            title:{
            text: ""
            },
             data: [
            {
                type: "line",
                name: "Beeline1",
                dataPoints: dps1
            },
            {
                type: "line",
                name: "Beeline2",
                dataPoints: dps2
            }
            ]
        });
        waitForGraph();

        function waitForGraph(){
            if(pause) {
                setTimeout(function(){waitForGraph()}, 100)
            } else {
                pause = true;
                updateChart();
                chart.render();
            };
        };

        function updateChart() {
            $.getJSON("/q?get=altVtime&f_id={{fid}}&time=" + lasttime, function(data){
                console.log("in, last time is " + lasttime);
                    $.each(data, function(key, value) {
    //                  console.log(value['Source']);
                        console.log("in" + value['time']);
                        if(value['Source'] == "Beeline1"){
                            dps1.push({x : new Date(value['time']), y : value['alt']});
                        }
                        if(value['Source'] == "Beeline2"){
                            dps2.push({x : new Date(value['time']), y : value['alt']});
                        }
                        lasttime = value['time'];
                        // console.log("values are" + JSON.stringify(key[0]) + "," + key[1] + "," + key[2]);
                    });
                    pause = false;
            });
            waitForUpdate();
            function waitForUpdate(){
                if (pause){
                    setTimeout(function(){waitForUpdate()}, 100)
                } else {
                    pause = true;
                    chart.render();
                    setTimeout(function(){updateChart()}, 1000);
                };
            }

        }

  }
    </script>
    <div id="chartContainer" style="height: 400px; width: 100%;">
    </div>
