
	<style type="text/css">
		.point .over{
			visibility: hidden;
			color: black;
			background-color: yellow;
			opacity: 0;
		}
		.point:hover .over{
			visibility: visible;
			opacity: 1;
		}

	</style>
	<script src="jquery-3.2.1.min.js"></script>
	<script type="text/javascript">
	function addPoints() {
		var sources = ["","","","","",""];
		var waiting = true;
		var lasttime = "";
		$.getJSON("/q?get=map&f_id={{fid}}&time=" + lasttime, function(data){
			$.each(data, function(key, value) {
				lasttime = value['time'];
				var n = 0;
				var sourcenum = 0;
				while(n < 6){
					if(sources[n] == value['Source']) {
						break;
					}
					n = n+1;
				}
				if(n==6){
					n=0;
					while(n < 6){
						if(sources[n] == "") {
							sourcenum = n;
							sources[n] = value['Source'];
							break;
						}
						n=n+1;
					}
				} else{
					sourcenum = n;
				}
				addPoint(parseFloat(value['lat']),parseFloat(value['lon']),parseInt(value['alt']),sourcenum,value['Source']);
			});
			waiting = false;
		});
		update();
		function update() {
			if(waiting) {
				setTimeout(function(){update()}, 100)
			} else {
				waiting = true;
				$.getJSON("/q?get=map&f_id={{fid}}&time=" + lasttime, function(data){
					$.each(data, function(key, value) {
						lasttime = value['time'];
						var n = 0;
						var sourcenum = 0;
						while(n < 6){
							if(sources[n] == value['Source']) {
								break;
							}
							n = n+1;
						}
						if(n==6){
							n=0;
							while(n < 6){
								if(sources[n] == "") {
									sourcenum = n;
									sources[n] = value['Source'];
									break;
								}
								n=n+1;
							}
						} else{
							sourcenum = n;
						}
						addPoint(parseFloat(value['lat']),parseFloat(value['lon']),parseInt(value['alt']),sourcenum,value['Source']);
					});
					// waiting = false;
				});
				update();
			}
		};
	};
	function addPoint(lat, lon, alt, sourcenum, source) {
		console.log(sourcenum);
		var symbols = ['+','O','=','X','8','-'];
		colors = ["red","orange","yellow","green","blue","purple"];
		altrem = alt%3000;
		n = Math.floor(altrem/500);
		var newPoint = document.createElement("div");
		var newPointHover = document.createElement("span");
		newPoint.className = "point";
		newPointHover.className = "over";
		newPointTxt = document.createTextNode("" + symbols[sourcenum]);
		newPointHoverTxt = document.createTextNode("" + source + "," + alt);
		newPoint.appendChild(newPointTxt);
		newPointHover.appendChild(newPointHoverTxt);
		newPoint.appendChild(newPointHover);
		botlat = 43.778288;
		botlon = -120.692566;
		toplat = 43.825979;
		toplon = -120.601665;
		x = 100 * (lon - botlon)/(toplon - botlon);
		y = 100 * (1 - (lat - botlat)/(toplat - botlat));
		xstr = x.toString();
		ystr = y.toString();
		newPoint.style.position = "absolute";
		newPoint.style.left = xstr + "%";
		newPoint.style.top = ystr + "%";
		newPoint.style.color = colors[n];
		var main = document.getElementById('MapDiv');
		main.appendChild(newPoint);
	};
  window.onload = addPoints();
	</script>
	<script src="../../canvasjs.min.js"></script>

<div onload="addPoints()">
	<style type="text/css">
		.Map {
			position: relative;
			background-image: url('GUI/Test/Brothers.PNG');
			height: 771px;
			width: 1052px;
		}
	</style>
	<div Id="MapDiv" Class="Map">
	</div>
</div>
