[Unit]
Description=Run ESRA Parser on boot

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/parser.py
StandardOutput=console
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=esra-parser.service
