<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/Patch.png">
    <meta charset="utf-8">
    <title>ESRA 30k Flight Viewer</title>

    <link rel="stylesheet" href="/style.css" media="screen">
    <script src="./jquery-3.2.1.min.js"></script>

  </head>
  <body>

{{{body}}}
{{>footer}}
  </body>
</html>
