var config = {
    server: {
        host:       '127.0.0.1',
        port:       '3000'
    },
    database: {
        host:       '127.0.0.1',
        database:   'mydatabase',
        user:       'myusername',
        password:   'mypassword'
    }
};
module.exports = config;
